 (1) After you did the platform upgrade, student promotion to next class never worked. We had to manually type students names last time. It was very difficult.

 (2) Result area in student login panel is duplicated with multiple entries making it very difficult to check to know which term has the right result; I will give you a login card to check to see what I mean.

 (3) You didn't show me where to edit teacher's and principle's comments

(4)The calculation formula for determining student's average in one particular class is giving issues
"principal's" I meant to say.

 (5) On marksheet, "class average" should be changed to "student average"; also "Admission No." should be changed to "Card Reference" or "Login Reference"

(3b) When we fix how to edit teacher's and principal's comments, there is something that follows that I would want you to check for me also.

5->done



SuperAdmin access:
username: root@hwti.sch.ng 
password: 347anSfbFd64NNy
 